@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1.300;1.400;1.500;1.600;1.700;1.800;1.900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');



*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
    text-transform: capitalize;
    transform: .2s linear;
    }
    html{
        font-size: 62.5%;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }
    





/*INICIO CABEÇALHO DO SITE */

.topo-site{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    z-index: 1000;
    background: rgb(255, 255, 0);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.topo-site .logo{
    font-family: "Anta", sans-serif; 
    font-size: 2.5rem;
    color: black;
    font-weight: bolder;
}
.topo-site .logo i{
    color: blue;
    padding-right: .5rem;
    rotate: 175deg;
}

.topo-site .menu-site a{
    color: black;
    font-size: 1.7rem;
    margin: 0 1rem;
    font-weight: 600;


}
.topo-site .menu-site a:hover{
    color: blue;
}
.topo-site .icons div{
    color: #fff;
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
}
.topo-site .icons div:hover{
    color: yellow;
}
#menu{
    display: none;
    color: black;
}
#menu:hover{
    color: blue;

}
.topo-site .carrinho{
    width: 35rem;
    background: #fff;
    border-radius: .5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 115%;
    right: -105%;
    padding: 2rem;

}
.topo-site .carrinho.active{
    right: 2rem;
    transition: .4s linear;
}
.topo-site .carrinho .box{
    position: relative;
    display: flex;
    margin-bottom: 1.5rem;
    gap: 1.5rem;
    align-items: center;
}
.topo-site .carrinho .box .fa-times{
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #777;
    cursor: pointer;
}
.topo-site .carrinho .box .fa-times:hover{
    color: red;
}
.topo-site .carrinho .box img{
    height: 10rem;
}
.topo-site .carrinho .box .content h3{
    font-size: 1.7rem;
    padding-bottom: .5rem;
    color: #130f40;


}
.topo-site .carrinho .box .content span{
    font-size: 1.7rem;
    color: #777;
}
.topo-site .carrinho .box .content span .multiplica{
    margin: 0.5rem;
}
.topo-site .carrinho .total{
    font-size: 2.2rem;
    color:#130f40 ;
    text-align: center;

}
.topo-site .carrinho .btn{
    width: 100%;
    text-align: center;
}

.topo-site .login-form{
    position: absolute;
    top: 115%;
    right: -105%;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    width: 35rem;
    padding: 2rem;
}
.topo-site .login-form.active{
    right: 2rem;
    transition: .4s linear;
}
.topo-site .login-form h3{
    font-size: 2.2rem;
    color: #130f40;
    text-transform: uppercase;
    margin-bottom: .7rem;
    text-align: center;


}
.topo-site .login-form .box{
    margin: .7rem 0;
    padding: 1rem 1.2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    text-transform: none;
    color: #130f40;
}
.topo-site .login-form .lembrar-senha{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: .7rem 0;

}
.topo-site .login-form .lembrar-senha label{
 font-size: 1.5rem;
 color: #777;
 cursor: pointer;
}
.topo-site .login-form .btn{
    width: 100%;
    text-align: center;
    margin: 1rem 0;
}




/*pagina do blog */

.inicio-blog{
margin-top: 150px;
}
.inicio-blog .titulo-do-blog{
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
.inicio-blog p{
    font-size: 1.2rem;
    color: black;
    padding: 2rem 0;
    line-height: 2;
}
.inicio-blog .video-youtube{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
.inicio-blog .video-youtube iframe{
    border: 5px solid yellow;
    border-radius: 5%;
}



/*RODAPE*/

.rodape{
    background-color: black;
    text-align: center;
}
.rodape .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 2rem;
}
.rodape .box-container .box h3{
    font-size: 2.2rem;
    text-transform: capitalize;
    color: yellow;
    padding: 1rem 0;
    font-family: "Anta", sans-serif; 

}
.rodape .box-container .box p{
    font-size: 1.2rem;
    color: #fff;
    line-height: 2;
    padding: 1rem 0;

}
.rodape .box-container .box .redes-sociais{
    margin-top: 1rem;

}

.rodape .box-container .box .redes-sociais a{
    color: #fff;
    border: .1px solid #fff;
    border-radius: 10%;
  width: 4.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    font-size: 1.8rem;
    margin-right: .3rem;


}
.rodape .box-container .box .redes-sociais a:hover{
    background-color: yellow;
    color: #130f40;
    border: .1rem solid #130f40;
}
.rodape .box-container .box .link {
    display: block;
    font-size: 1.7rem;
    line-height: 2;
    padding: .5rem 0;
    text-decoration: underline;
    color: #fff;


}
.direitos{
    text-align: center;
    color: #fff;
    font-size: 1rem;
    margin-top: 3rem;
    padding-top: 3rem;
    text-transform: capitalize;
    border-top: .1rem solid #fff;

}
.direitos span{
    color: blue;
}




/*CELULAR*/
@media(max-width:991px){
    html{
        font-size: 55%;

    }
    section{
        padding: 3rem;

    }
    .topo-site{
        padding: 2rem;
    }

}


@media(max-width:768px){
    .topo-site .icons #menu{
        display: inline-block;
    }
    .topo-site .menu-site{
        position: absolute;
        top: 110%;
        right: 110%;
        width: 30rem;
        background-color: yellow;
        border-radius: .5rem;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);

       

    }
    .topo-site .menu-site.active{
        right: 2rem;
        transition: .4s linear;
    }
   
    .topo-site .menu-site a{
        display: block;
        font-size: 2rem;
        margin: 2rem 2.5rem;
    }
    .msflix-destaque .slide .content h3{
        font-size: 4rem;
    }
    .topo-site .menu-site a{
        color: black;
        border-bottom: 1px solid blue;
        border-bottom-style:dotted ;
    }
    
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }
    .msflix-destaque .slide .content h3{
        font-size: 3.5rem;
    }

    
    
    .topo-site .menu-site a{
        color: black;
        border-bottom: 1px solid black;
        border-bottom-style:dotted ;
    }
}

